html {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

.header {
    display: flex;
    background-color: royalblue;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.header-title { 
    color: white;
    font-weight:lighter;
    font-size:30px;
}

.search {
    width: 10rem;
    height: 23px;
    font-size: 14px;
    font-style: italic;
    outline: none;
    margin: 5px;
}

.container { 
    border: 1px solid gainsboro;
    padding: 30px;
    margin: 20px;
    margin-right: 35px;
}

.list-group-item {
    list-style-type: none;
    border: 1px solid gainsboro;
    line-height: 40px;
    padding-left: 10px;
    width: auto;
}

.items { 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item {
    width: 15rem;
    height: 25px;
    border: 1px solid gray;
    outline: none;
}

.add { 
    height: 29px;
    background-color: gold;
}

.delete {
    background-color: red;
    color: white;
    width: 15px;
    height: 20px;
    font-size: 10px;
    font-weight: 100;
    border: 0;
    padding: 0;
    vertical-align: middle;
}

@media screen and (max-width: 320px){
    .header-title {
        font-size: 25px;
    }

    .item , .search{
        width: 5rem;
        font-size: 12px;
    }
}
